div.main {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100vw;

  background-image: url('../../image/Plano_de_fundo.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
 
  overflow-y: scroll;


  
  p{
    background: rgb(0, 0, 0,0.6);
    border-radius: 1rem;
    width: 50%;
    word-break: break-all;
  }
}